body{
	/*background-color:#eee;*/
	background-color: #ebe3d9;
	font-family: 'Oswald', sans-serif;
	font-size: 2.6em;
}

@media (min-width: 700px) {
	body {
		font-size: 5em;
	}
}

a {
	text-decoration: none;
	color:#666;
}


div.megawrapper{

}
div.wrapper{
	width: 90%;
	margin: 0 auto;
}

#intro{
	display: inline;
	color: #666;
	
}
#design-item {
	font-weight: 400;
	color: #BB493E;
	display: inline;
}
#constraint {
	font-weight: 400;
	color: #2B7182;
	display: inline;
}


div.button{
	margin-top: 2em;
	padding: .4em .6em;
	font-size: .5em;
	display: inline;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-right: 2em;
	background-color: #2B7182;
	color: #fff;

}

div.button:hover {
	background-color: #215563;
}

div.button a {
	color: #fff;
	text-decoration: none;
}


div.tagline {
	font-size: .4em;
	color: #666;
	font-weight: 200;
	margin-bottom: .4em;
}
div.tagline .author {
	color: #968e84;
}
div.tagline .author a {
	color: #968e84;
	border-bottom: 1px solid #968e84;
}

div.tagline .author a:hover {
	border-bottom: 1px solid #968e84;
}

div.nextbutton {

}
div.tweetbutton{

}

div#footer {
	padding-top: 2em;
	font-size: .4em;
	
}
