// OVERALL STYLES

$big-screen-width-percent: 80%;
$small-screen-width-percent: 90%;
$big-screen-width-margin: (100% - $big-screen-width-percent)/2;
$small-screen-width-margin: (100% - $small-screen-width-percent)/2;
body {
	/*background-color:#eee;*/
	background-color: #ebe3d9;
	font-family: 'Oswald', sans-serif;

	margin: 0;
	a {
		text-decoration: none;
		color: #666;
	}
}

// FOR SMALL SCREENS
@media (max-width: 700px) {

	body {
		font-size: 2.6em;
	}
	.header-content {
		width: $small-screen-width-percent - 20%;
		margin: 0 $small-screen-width-margin 0 $small-screen-width-margin;
	}
	.wrapper {
		width: $small-screen-width-percent;
		margin: 0 $small-screen-width-margin 0 $small-screen-width-margin;

	}
	
}

// FOR LARGE SCREENS
@media (min-width: 700px) {

	body {
		font-size: 5em;
	}
	.header-content {
		width: $big-screen-width-percent - 15%;
		margin: 0 $big-screen-width-margin 0 $big-screen-width-margin;
	}
	.wrapper {
		width: $big-screen-width-percent;
		margin: 0 $big-screen-width-margin 0 $big-screen-width-margin;
		}
}


// LAYOUT

div.megawrapper {
	margin: 0 auto;
}
// HEADER

div.header-bar {
	background-color: #d0c3b2;
	width: 100%;
	margin: 0 auto;
	position: relative;
	.header-content {
		
	
		padding: .2em 0 .3em 0;
		font-size: .4em;
		color: #666;
		font-weight: 200;
		margin-bottom: .4em;
		.author {
			color: #968e84;
			a {
				color: #968e84;
				border-bottom: 1px solid #968e84;
			}
		}
		
		.header-language {
		font-size: .9em;
		position: absolute;
		font-weight: 200;
		top: .4em;
		right: .6em;
			.current-language {
				
			}
			.fa {
				padding: 0 .3em;
			}
		}
	}
	
	a:hover {
		border-bottom: 1px solid #968e84;
	}
	
}
// RANDOMIZED TEXT
div.wrapper {
	
	.randomized-text {
		#intro {
			display: inline;
			color: #666;
		}
	}
	#design-item {
		font-weight: 400;
		color: #BB493E;
		display: inline;
	}
	#constraint {
		font-weight: 400;
		color: #2B7182;
		display: inline;
	}
}
// BUTTON

div.button {
	margin-top: 2em;
	padding: .4em .6em;
	font-size: .5em;
	display: inline;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-right: 2em;
	background-color: #2B7182;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
}
div.button:hover {
	background-color: #215563;
}
