// OVERALL STYLES

$big-screen-width-percent: 80%;
$small-screen-width-percent: 90%;
$big-screen-width-margin: (100% - $big-screen-width-percent)/2;
$small-screen-width-margin: (100% - $small-screen-width-percent)/2;
body {
	/*background-color:#eee;*/
	background-color: #ebe3d9;
	font-family: 'Oswald', sans-serif;

	margin: 0;
	a {
		text-decoration: none;
		color: #666;
	}
}

// FOR SMALL SCREENS
@media (max-width: 700px) {

	body {
		font-size: 3.3em;
		
	}

	.header-content {
		
		border: 1px solid #f0f;
		.header-text {
			display: block;
					margin: 0 ($small-screen-width-margin + 10%) 0 $small-screen-width-margin;

			max-width: $small-screen-width-percent - 20%;
			border: 1px solid #ff0;
		}
		.author-bigscreen {
			display:none;
		}
		
	}
	
	.current-language {
			display: none;
			
		}
		.fa-angle-down.fa {
			display: none;
		}
		.fa-globe.fa{
			font-size: 200%;
			text-align: right;
		}
	.language-shown {
		position: absolute;
		right: .2em;
		top: 1.3em;
	}
	.language-dropdown {
		border: 1px solid #00f;
		display: none;
		position: relative;
		right: -2%;
		
	}
	
	.wrapper {
		width: $small-screen-width-percent;
		margin: 0 $small-screen-width-margin 0 $small-screen-width-margin;

	}
	.wrapper.de {
		font-size: 80%;
	}
	
}

// FOR LARGE SCREENS
@media (min-width: 700px) {

	body {
		font-size: 5em;
	}
	
	
	.header-text {
		width: $big-screen-width-percent - 15%;
		margin: 0 $big-screen-width-margin 0 $big-screen-width-margin;
		display: block;
		.author-smallscreen {
			display:none;
		}
	}
	.language-dropdown {
		
	
	
	}
	.language-shown {
			top: .4em;
		right: 2em;
	}
	.wrapper {
		width: $big-screen-width-percent;
		margin: 0 $big-screen-width-margin 0 $big-screen-width-margin;
		}
	.wrapper.de {
		font-size: 80%;
	}
}


// LAYOUT

div.megawrapper {
	margin: 0 auto;
}
// HEADER

div.header-bar {
	background-color: #d0c3b2;
	width: 100%;
	margin: 0 auto;
	position: relative;
	.header-content {
		.sitename {
			font-weight: 400;
		}	
	
		padding: .3em 0 .6em 0;
		font-size: .35em;
		color: #666;
		font-weight: 200;
		margin-bottom: .4em;
		.author {
			color: #968e84;
			a {
				color: #968e84;
				border-bottom: 1px solid #968e84;
			}
		}

		.language-shown {
		font-size: .9em;
		position: absolute;
		font-weight: 200;
	
		cursor: pointer;
		&:hover {
			color: #222;
		}
		.current-language {
				
			}
			.fa {
				padding: 0 .3em;
			}
		}
	}
	
	a:hover {
		color: #222;	
	}
	
	
}
// RANDOMIZED TEXT
div.wrapper {
	
	.randomized-text {
		#intro {
			display: inline;
			color: #666;
		}
	}
	#design-item {
		font-weight: 400;
		color: #BB493E;
		display: inline;
	}
	#constraint {
		font-weight: 400;
		color: #2B7182;
		display: inline;
	}
	.de-temp {
		color: #2B7182;
	}
}
// BUTTON

div.button {
	margin-top: 2em;
	padding: .4em .6em;
	font-size: .5em;
	display: inline;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-right: 2em;
	background-color: #2B7182;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
}
div.button:hover {
	background-color: #215563;
}


// LANGUAGE DROPDOWN

div.language-dropdown {
		
		margin: 0 2em 0 0;
		font-size: .9em;
		background-color: #d0c3b3;
			
	display: block;
		font-weight: 200;
		
				text-align: right;


		ul {
			list-style-type: none;
			margin: 0;
			li {
				display: block;
			}
			li.current {
				display: none;
			}
			
		}
}
